<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Blogging Application</title>
    </head>
    <body>
        <form action="form" method="post">
            <input type="text" name="title">
            <input type="text" name="content"/>
            <input type="submit">
        </form>

        <table>
            <tr th:each="blog : ${blogs}">
                <td><span th:text="${blog.title}"></span></td>
                <td><span th:text="${blog.content}"></span></td>
            </tr>
        </table>
    </body>
</html>